html,body{
    width: 100%;
    height: 100%;
}


.container{
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    justify-content: space-around;
   

}